<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="container-fluid">
      <header><%- include('./partials/header'); -%></header>

      <main class="main">
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
      </main>

      <footer><%- include('./partials/footer'); -%></footer>
    </div>
  </body>
</html>
