<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <div class="container-fluid p-0">
      <header><%- include('./partials/header') -%></header>

      <main class="main text-center">
        <h1>FootyStore Inventory</h1>
        <p class="pb-3">Manage the store inventory with just a few clicks!</p>

        <% if(error) { %>
        <p>Error getting data from the server.</p>
        <% } else { %>
        <h2 class="pb-3">Leagues</h2>

        <div class="row mx-0 dist align-items-end align-items-sm-stretch">
          <% data.leagues.forEach((league, i) => { %>
          <!-- prettier-ignore -->
          <% if(i > 3) return %>

          <div class="col-sm w-25">
            <div class="h-50">
              <img
                src="/uploads/<%=league.fileName%>"
                alt="<%= league.name %> logo"
                class="logos"
              />

              <label class="pt-3"
                ><a
                  href="<%=league.url%>"
                  class="fw-bold text-decoration-none link-primary"
                  ><%=league.name%></a
                ></label
              >
            </div>
          </div>
          <% }) %>
        </div>

        <a href="/store/leagues" class="btn btn-primary my-5"
          >See All Leagues</a
        >

        <h2 class="pb-3">Teams</h2>

        <div class="row mx-0 dist">
          <% data.teams.forEach((team, i) => { %>
          <!-- prettier-ignore -->
          <% if(i > 3) return %>

          <div class="col-sm w-25">
            <div class="h-50">
              <img
                src="/uploads/<%=team.fileName%>"
                alt="<%= team.name %> logo"
                class="logos"
              />
              <label class="pt-3"
                ><a
                  href="<%=team.url%>"
                  class="fw-bold text-decoration-none link-primary"
                  ><%=team.name%></a
                ></label
              >
            </div>
          </div>
          <% }) %>
        </div>

        <a href="/store/teams" class="btn btn-primary my-5">See All Teams</a>

        <h2 class="pb-3">Kits</h2>

        <div class="row mx-0">
          <% data.kits.forEach((kit, i) => { %>
          <!-- prettier-ignore -->
          <% if(i > 3) return %>

          <div class="col-sm w-25">
            <div class="h-50">
              <img
                src="/uploads/<%=kit.fileName%>"
                alt="<%= kit.name %> logo"
                class="logos"
              />

              <label class="pt-3"
                ><a
                  href="<%=kit.url%>"
                  class="fw-bold text-decoration-none link-primary"
                  ><%=kit.name%></a
                ></label
              >
            </div>
          </div>
          <% }) %>
        </div>

        <a href="/store/kits" class="btn btn-primary mt-5">See All Kits</a>
        <% } %>
      </main>

      <footer><%- include('./partials/footer') -%></footer>
    </div>
  </body>
</html>
