<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>

  <body>
    <div class="container-fluid p-0">
      <header><%- include('./partials/header') -%></header>

      <main class="main text-center">
        <h1 class="py-3"><%= title %></h1>

        <div class="row mx-0 gy-4 align-items-baseline align-items-sm-stretch">
          <!-- prettier-ignore -->
          <% if(kits.length) { %>
            <% kits.forEach(kit => { %>
          <div class="col-sm w-25">
            <div class="h-75">
              <img
                src="/uploads/<%=kit.fileName%>"
                alt="<%=kit.name%> logo"
                class="logos"
              />
            </div>
            <label class="pt-3"
              ><a
                href="<%=kit.url%>"
                class="fw-bold text-decoration-none link-primary"
                ><%=kit.name%></a
              ></label
            >
          </div>
          <% }) } else { %>
          <p>There are no kits.</p>
          <% } %>
        </div>
      </main>

      <footer class="position-absolute left-0 bottom-0 w-100">
        <%- include('./partials/footer'); -%>
      </footer>
    </div>
  </body>
</html>
