<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div class="container-fluid">
      <header><%- include('./partials/header'); -%></header>

      <main class="main">
        <h1><%= kit.name %></h1>
        <p><%= kit.description %></p>

        <p>
          <strong>Team : </strong
          ><a
            href="<%= kit.team.url %>"
            class="link-primary text-decoration-none"
            ><%= kit.team.name %></a
          >
        </p>
      </main>

      <footer><%- include('./partials/footer'); -%></footer>
    </div>
  </body>
</html>
