<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <div class="container-fluid p-0">
      <header><%- include('./partials/header') -%></header>

      <main class="main mx-3">
        <h1><%= title %>: <%= kit.name %></h1>
        <p class="pb-3"><%= kit.description %></p>

        <p class="fw-bold pt-2">
          Please enter the password to confirm this action.
        </p>

        <form method="POST" action="">
          <input
            type="hidden"
            class="form-control"
            id="kitid"
            name="kitid"
            required
            value="<%= kit._id %>"
          />

          <div class="form-group pb-3">
            <label for="password" class="fw-bold py-2">Password :</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            />
          </div>

          <div class="pb-3">
            <button class="btn btn-danger">Delete</button>
            <a
              href="/store/kits"
              class="link-secondary px-3 text-decoration-none"
              >Cancel</a
            >
          </div>
        </form>

        <div class="w-50 m-auto d-flex justify-content-center">
          <img src="/uploads/<%=kit.fileName%>" alt="team Logo" class="w-50" />
        </div>
      </main>

      <footer><%- include('./partials/footer') -%></footer>
    </div>
  </body>
</html>
