<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <div class="container-fluid p-0">
      <header><%- include('./partials/header') -%></header>

      <main class="main text-center">
        <h1 class="py-3"><%= title %></h1>

        <div class="row mx-0 gy-3">
          <!-- prettier-ignore -->
          <% if(leagues.length) { %>
            <% leagues.forEach(league => { %>
          <div class="col-sm w-25">
            <div class="h-50">
              <img
                src="/uploads/<%=league.fileName%>"
                alt="<%=league.name%> logo"
                class="logos"
              />
            </div>
            <label class="pt-3"
              ><a
                href="<%=league.url%>"
                class="fw-bold text-decoration-none link-primary"
                ><%=league.name%></a
              ></label
            >
          </div>
          <% }) } else { %>
          <p>There are no leagues.</p>
          <% } %>
        </div>
      </main>

      <footer><%- include('./partials/footer'); -%></footer>
    </div>
  </body>
</html>
