<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <div class="container-fluid p-0">
      <header><%- include('./partials/header') -%></header>

      <main class="main mx-3">
        <h1><%= title %> : <%= league.name %></h1>
        <p class="pb-3"><%= league.description %></p>

        <% if(teams.length) { %>
        <p class="fw-bold pb-3">
          Delete the following Teams & the Kits associated with them before
          deleting the league.
        </p>

        <div class="row mx-0 text-center">
          <% teams.forEach(team => { %>
          <div class="col-sm flex-shrink-1 w-25">
            <div class="h-50">
              <img
                src="/uploads/<%=team.fileName%>"
                alt="<%=team.name%> logo"
                class="logos"
              />
            </div>
            <label class="pt-3 fw-bold">
              <a href="<%=team.url%>" class="text-decoration-none link-primary"
                ><%= team.name %></a
              >
            </label>
          </div>

          <% }) %>
        </div>
        <% } else { %>
        <p class="fw-bold">Please enter the password to confirm this action.</p>

        <form method="POST" action="">
          <input
            type="hidden"
            class="form-control"
            id="leagueid"
            name="leagueid"
            required
            value="<%= league._id %>"
          />

          <div class="form-group pb-3">
            <label for="password" class="fw-bold py-2">Password :</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            />
          </div>

          <button class="btn btn-danger">Delete</button>
          <a
            href="/store/leagues"
            class="link-secondary px-3 text-decoration-none"
            >Cancel</a
          >
        </form>

        <div class="w-25 m-auto d-flex justify-content-center image">
          <img
            src="/uploads/<%=league.fileName%>"
            alt="League Logo"
            class="img-thumbnail w-50"
          />
        </div>
        <% } %>
      </main>

      <footer><%- include('./partials/footer') -%></footer>
    </div>
  </body>
</html>
