<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <div class="container-fluid p-0">
      <header><%- include('./partials/header') -%></header>

      <main class="main px-3">
        <h1 class="pb-1"><%= league.name %></h1>
        <p class="pb-1"><%= league.description %></p>

        <div class="pb-3">
          <a href="<%= `${league.url}/update` %>" class="btn btn-primary mx-1"
            >Update League</a
          >

          <a href="<%= `${league.url}/delete` %>" class="btn btn-danger mx-1"
            >Delete League</a
          >
        </div>

        <div class="w-25 m-auto d-flex justify-content-center">
          <img
            src="/uploads/<%=league.fileName%>"
            alt="League Logo"
            class="img-thumbnail w-75"
          />
        </div>

        <p class="pt-3"><strong>Teams :</strong></p>

        <div class="row mx-0 text-center">
          <!-- prettier-ignore -->
          <% if(teams.length) { %>
            <% teams.forEach(team => { %>

          <div class="col-sm flex-shrink-1 w-25">
            <div class="h-50">
              <img
                src="/uploads/<%=team.fileName%>"
                alt="<%=team.name%> logo"
                class="logos"
              />
            </div>
            <label class="pt-3 fw-bold">
              <a href="<%=team.url%>" class="text-decoration-none link-primary"
                ><%= team.name %></a
              >
            </label>
          </div>

          <% }) } else { %>
          <p>There are no Teams in this league.</p>
          <% } %>
        </div>
      </main>

      <footer><%- include('./partials/footer') -%></footer>
    </div>
  </body>
</html>
