<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div class="container-fluid">
      <header><%- include('./partials/header') -%></header>

      <main class="main">
        <h1><%= league.name %></h1>
        <p><%= league.description %></p>
        
        <img src="/uploads/<%=league.fileName%>" alt="League Logo" class="img-thumbnail w-25">

        <p><strong>Teams :</strong></p>
        <ul>
          <!-- prettier-ignore -->
          <% if(teams.length) { %>
            <% teams.forEach(team => { %>
          <li class="list-style-type-none">
            <a href="<%= team.url %>" class="link-primary text-decoration-none""
              ><%= team.name %></a
            >
          </li>
          <% }) } else { %>
          <li class="list-style-type-none">There are no Teams in this league.</li>
          <% } %>
        </ul>

        <p>
          <a href="<%= `${league.url}/update` %>" class="link-primary fw-bold text-decoration-none">Update League</a>
        </p>
        <p>
          <a href="<%= `${league.url}/delete` %>" class="link-danger fw-bold text-decoration-none">Delete League</a>
        </p>
      </main>

      <footer><%- include('./partials/footer') -%></footer>
    </div>
  </body>
</html>
