<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div class="container-fluid">
      <header><%- include('./partials/header'); -%></header>

      <main class="main">
        <h1><%= title %></h1>

        <ul>
          <!-- prettier-ignore -->
          <% if(leagues.length) { %>
            <% leagues.forEach(league => { %>
          <li class="list-style-type-none">
            <a href="<%= league.url %>" class="link-primary text-decoration-none""
              ><%= league.name %></a
            >
          </li>
          <% }) } else { %>
          <li>There are no leagues.</li>
          <% } %>
        </ul>
      </main>

      <footer><%- include('./partials/footer'); -%></footer>
    </div>
  </body>
</html>
