<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div class="container-fluid">
      <header><%- include('./partials/header') -%></header>

      <main class="main">
        <h1><%= team.name %></h1>
        <p><%= team.description %></p>

        <img
          src="/uploads/<%=team.fileName%>"
          alt="Team Logo"
          class="rounded-circle img-thumbnail w-25"
        />

        <p>
          <strong>League : </strong
          ><a
            href="<%= team.league.url %>"
            class="link-primary text-decoration-none"
            ><%= team.league.name %></a
          >
        </p>

        <p><strong>Team Kits :</strong></p>
        <ul>
          <% kits.forEach(kit => { %>
          <li>
            <a href="<%= kit.url %>" class="link-primary text-decoration-none"
              ><%= kit.name %></a
            >
          </li>
          <% }) %>
        </ul>

        <p>
          <a
            href="<%= `${team.url}/update` %>"
            class="link-primary fw-bold text-decoration-none"
            >Update Team</a
          >
        </p>
        <p>
          <a
            href="<%= `${team.url}/delete` %>"
            class="link-danger fw-bold text-decoration-none"
            >Delete Team</a
          >
        </p>
      </main>

      <footer><%- include('./partials/footer') -%></footer>
    </div>
  </body>
</html>
