<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <div><%- include('./partials/loader') -%></div>

    <div class="container-fluid p-0 hidden">
      <header><%- include('./partials/header') -%></header>

      <main class="main mx-3">
        <h1 class="pb-1"><%= team.name %></h1>
        <p class="pb-1"><%= team.description %></p>

        <div class="pb-3">
          <a href="<%= `${team.url}/update` %>" class="btn btn-primary m-1"
            >Update Team</a
          >

          <a href="<%= `${team.url}/delete` %>" class="btn btn-danger m-1"
            >Delete Team</a
          >
        </div>

        <div class="w-25 m-auto d-flex justify-content-center image">
          <img src="/uploads/<%=team.fileName%>" alt="team Logo" class="w-75" />
        </div>

        <p class="pt-3"><strong class="lead fw-bold">Kits :</strong></p>

        <div class="row mx-0 text-center">
          <!-- prettier-ignore -->
          <% if(kits.length) { %>
            <% kits.forEach(kit => { %>

          <div class="col-sm w-50">
            <div class="h-50">
              <img
                src="/uploads/<%=kit.fileName%>"
                alt="<%=kit.name%> logo"
                class="logos"
              />
            </div>
            <label class="pt-3 fw-bold">
              <a href="<%=kit.url%>" class="text-decoration-none link-primary"
                ><%= kit.name %></a
              >
            </label>
          </div>

          <% }) } else { %>
          <p>There are no Kits for this team.</p>
          <% } %>
        </div>
      </main>

      <footer><%- include('./partials/footer') -%></footer>
    </div>
  </body>
</html>
