<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <div class="container-fluid p-0">
      <header><%- include('./partials/header') -%></header>

      <main class="main mx-3">
        <h1><%= title %>: <%= team.name %></h1>
        <p class="pb-3"><%= team.description %></p>

        <% if(kits.length) { %>
        <p class="fw-bold pb-3">
          Delete the following Kits & the Kits associated with them before
          deleting the league.
        </p>

        <div class="row mx-0 text-center">
          <% kits.forEach(kit => { %>
          <div class="col-sm flex-shrink-1 w-25">
            <div class="h-50">
              <img
                src="/uploads/<%=kit.fileName%>"
                alt="<%=kit.name%> logo"
                class="logos"
              />
            </div>
            <label class="pt-3 fw-bold">
              <a href="<%=kit.url%>" class="text-decoration-none link-primary"
                ><%= kit.name %></a
              >
            </label>
          </div>

          <% }) %>
        </div>
        <% } else { %>
        <form method="POST" action="">
          <p class="fw-bold">Are you sure you want to delete this team?</p>

          <div class="w-25 m-auto d-flex justify-content-center">
            <img
              src="/uploads/<%=team.fileName%>"
              alt="team Logo"
              class="w-75"
            />
          </div>

          <input
            type="hidden"
            class="form-control"
            id="teamid"
            name="teamid"
            required
            value="<%= team._id %>"
          />

          <button class="btn btn-danger">Delete</button>
          <a
            href="/store/teams"
            class="link-secondary px-3 text-decoration-none"
            >Cancel</a
          >
        </form>
        <% } %>
      </main>

      <footer class="position-absolute left-0 bottom-0 w-100">
        <%- include('./partials/footer') -%>
      </footer>
    </div>
  </body>
</html>
