<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div class="container-fluid p-0">
      <header><%- include('./partials/header'); -%></header>

      <main class="main text-center">
        <h1 class="py-3"><%= title %></h1>

        <div class="row mx-0 gy-3 align-items-baseline align-items-sm-stretch">
          <!-- prettier-ignore -->
          <% if(teams.length) { %>
            <% teams.forEach(team => { %>
          <div class="col-sm w-25">
            <div class="h-50">
              <img
                src="/uploads/<%=team.fileName%>"
                alt="<%=team.name%> logo"
                class="logos"
              />
            </div>
            <label class="pt-3"
              ><a
                href="<%=team.url%>"
                class="fw-bold text-decoration-none link-primary"
                ><%=team.name%></a
              ></label
            >
          </div>
          <% }) } else { %>
          <p>There are no teams.</p>
          <% } %>
        </div>
      </main>

      <footer class="position-absolute left-0 bottom-0 w-100">
        <%- include('./partials/footer'); -%>
      </footer>
    </div>
  </body>
</html>
