<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div class="container-fluid">
      <header><%- include('./partials/header') -%></header>

      <main class="main">
        <h1><%= title %>: <%= team.name %></h1>
        <p><%= team.description %></p>

        <% if(kits.length) { %>
        <p class="fw-bold">
          Delete the following Kits before deleting the Team.
        </p>

        <ul>
          <% kits.forEach(kit => { %>
          <li class="list-style-type-none">
            <a href="<%= kit.url %>" class="link-primary text-decoration-none"
              ><%= kit.name %></a
            >
            <p><%= kit.description %></p>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <form method="POST" action="">
          <p class="fw-bold">Are you sure you want to delete this team?</p>

          <input
            type="hidden"
            class="form-control"
            id="teamid"
            name="teamid"
            required
            value="<%= team._id %>"
          />

          <button class="btn btn-danger">Delete</button>
          <a
            href="/store/teams"
            class="link-secondary px-3 text-decoration-none"
            >Cancel</a
          >
        </form>
        <% } %>
      </main>

      <footer><%- include('./partials/footer') -%></footer>
    </div>
  </body>
</html>
