<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') -%>
  <body>
    <div><%- include('./partials/loader') -%></div>

    <div class="container-fluid p-0 hidden">
      <header><%- include('./partials/header') -%></header>

      <main class="main mx-3">
        <h1><%= title %>: <%= team.name %></h1>
        <p class="pb-3"><%= team.description %></p>

        <% if(kits.length) { %>
        <p class="fw-bold pb-3">
          Delete the following Kits before deleting the league.
        </p>

        <div class="row mx-0 text-center">
          <% kits.forEach(kit => { %>
          <div class="col-sm w-50">
            <div class="h-50">
              <img
                src="/uploads/<%=kit.fileName%>"
                alt="<%=kit.name%> logo"
                class="logos"
              />
            </div>
            <label class="pt-3 fw-bold">
              <a href="<%=kit.url%>" class="text-decoration-none link-primary"
                ><%= kit.name %></a
              >
            </label>
          </div>

          <% }) %>
        </div>
        <% } else { %>
        <p class="fw-bold">Please enter the password to confirm this action.</p>

        <div class="w-25 m-auto d-flex justify-content-center">
          <img src="/uploads/<%=team.fileName%>" alt="team Logo" class="w-75" />
        </div>

        <form method="POST" action="">
          <input
            type="hidden"
            class="form-control"
            id="teamid"
            name="teamid"
            required
            value="<%= team._id %>"
          />

          <div class="form-group pb-3">
            <label for="password" class="fw-bold py-2">Password :</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            />
          </div>

          <button class="btn btn-danger">Delete</button>
          <a
            href="/store/teams"
            class="link-secondary px-3 text-decoration-none"
            >Cancel</a
          >
        </form>
        <% } %>
      </main>

      <footer><%- include('./partials/footer') -%></footer>
    </div>
  </body>
</html>
